$bottegaGreen: #00CB79;
$clearBlue: #45B0E5;
$mainGray: #CFCFCF;
$darkGray: #444444;
$font-primary: 'Montserrat', sans-serif;

.backgroundSkew {
    width: 100vw;
    height: 700px;
    background-color: $darkGray;   
    transform: skewY(-10deg); 
    margin-top: -17rem;
    padding-top: 17rem;
    border-bottom: 1rem solid $bottegaGreen;
}

.backgroundSkew > * {
    transform: skewY(10deg);
}

.madLibs-heading {
    text-align: center;
    margin: 20px;
    padding-top :46;
    color: white;
    font-weight: 700;
    font-family: $font-primary;
}

.madLibs-subheading {
    margin-bottom: 46px;
    color: rgba(255, 255, 255, 0.75);
    font-size: 14px;
}